body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2d9ff;
}

header {
    background-color: #00377a;
    color: white;
    padding: 10px 20px;
}

header p {
    margin: 0;
    font-style: italic;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a.active {
    text-decoration: underline;
}

main {
    padding: 20px;
}


form input, form textarea {
    width: 100%;
    max-width: 400px;
}

form button {
    padding: 5px 15px;
    background-color: #00377a;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #00377a;
}
footer {
    background-color: #00377a;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
