{% extends "base.html" %}

{% block content %}
    <h2>Контакти</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    {% if message %}
        <p style="color:green;">{{ message }}</p>
    {% endif %}

    <form method="POST">
        <label>Ім'я:<br><input type="text" name="name"></label><br><br>
        <label>Email:<br><input type="email" name="email"></label><br><br>
        <label>Повідомлення:<br><textarea name="message"></textarea></label><br><br>
        <button type="submit">Надіслати</button>
    </form>
{% endblock %}
